/* Unique feuille de style à modifier */
/* Essayer de mettre un commentaire (comme ce message) au début pour indiquer ce que vous modifiez avec votre code */
/* Couleurs de notre projet :
Bleu : #495867
Vert : #7a918d
Gris : #e8e8e8
Noir: #2e2e2e
Blanc : #ffffff
*/

/* NOS PRODUITS */
#titre-cta {
  text-align: left;
}
