/* Unique feuille de style à modifier */
/* Essayer de mettre un commentaire (comme ce message) au début pour indiquer ce que vous modifiez avec votre code */
/* Couleurs de notre projet :
Bleu : #495867
Vert : #7a918d
Gris : #e8e8e8
Noir: #2e2e2e
Blanc : #ffffff
*/

/* NOS PRODUITS */
#titre-cta {
  text-align: left;
}
 #myVideo {
  max-width: 100%;
  height: auto;
}
#myVideoBis {
 max-width: 100%;
 height: auto;
 margin-top: 6em;
}
.ftco-counter, div.text strong.number, div.text span{
  color: #ffffff!important;
  font-weight: bold;
  font-size: 15px;
}
div #imageRecyclage {
  background-size: contain;
}
div.hero-wrap.overlay {
    opacity: O.2 !important;
    background: #ffffff!important;
        }
.ftco-footer {
  font-size: 16px;
  padding: 2em 0;
  color: #000000; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .ftco-footer .ftco-footer-widget ul li {
    font-size: 14px;
    margin-bottom: 24px; }
    .ftco-footer .ftco-footer-widget ul li a {
      color: #000000; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      border: 2px solid #fff !important; }
