/* Unique feuille de style à modifier */
/* Essayer de mettre un commentaire (comme ce message) au début pour indiquer ce que vous modifiez avec votre code */
/* Couleurs de notre projet :
Bleu : #495867
Vert : #7a918d
Gris : #e8e8e8
Noir: #2e2e2e
Blanc : #ffffff
*/

/* NOS PRODUITS */
#titre-cta {
  text-align: left;
}
 #myVideo {
  max-width: 100%;
  height: auto;
}
#myVideoBis {
 max-width: 100%;
 height: auto;
 margin-top: 6em;
}
.ftco-counter, div.text strong.number, div.text span{
  color: #ffffff!important;
  font-weight: bold;
  font-size: 15px;
}
div #imageRecyclage {
  background-size: contain;
}
#PUV {
  margin-bottom: 2em;
}
button#button-puv, button#button-puv-2, button#button-offre {
  background-color: #7a918d;
  color: #fff;
}
input#submit-newsletter{
  background-color: #7a918d!important;
  color: #fff!important;
  border-radius: 0px;
}
div.cta-button {
  text-align: center;
}
#div-button-offre {
  margin-top: 2em;
}
#vetements-text h3 {
  text-align: center;
}
div#overlay {
  opacity: 0.4;
  background-color: #fff;
}
div.container a.navbar-brand {
  color: #fff;
}
ul.navbar-nav.ml-auto li.nav-item a.nav-link {
  color: #fff;
}
div.container a.navbar-brand:hover {
  color: #7a918d;
}
ul.navbar-nav.ml-auto li.nav-item a.nav-link:hover {
  color: #7a918d;
}
h3.v {
  color: #7a918d;
}
h3.vr {
  color: #7a918d;
}

/* Nos vêtements */
#nos-vetements {
  background-color: #f8f9fa;
  padding: 8em 0 4em 0;
}
#vetements-text {
  margin-top: 3em;
}
/* Notre vision */
#Notre-vision {
  background-color: #f8f9fa;
  padding-bottom: 0.1em!important;
}
#offre {
  background-color: #f8f9fa;
}
#h2-offre {
  margin-bottom: 0!important;
  padding-bottom: 1em;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 700px) {
  section #notre-vision {
    margin: 1em 0;
  }
  #vision-text {
    padding-top: 2em;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 990px) {
  #vision-text {
    padding-top: 80em;

  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #vision-text {
    padding-top: 80em;
  }
 }
#titre-cta {
  margin-bottom: 1em;
}
section#offre.ftco-section {
  padding-bottom: 0!important;
}

section#section-instagram {
  background-color: #f8f9fa;
}

/* Footer */
.ftco-footer {
  font-size: 16px;
  padding: 2em 0;
  color: #000000; }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .ftco-footer .ftco-footer-widget ul li {
    font-size: 14px;
    margin-bottom: 24px; }
    .ftco-footer .ftco-footer-widget ul li a {
      color: #000000; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      border: 2px solid #fff !important; }
